* {
	padding: 0;
	margin: 0;
}

#main-container {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
}

#container {
	width: 80%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: lightblue;
}

#header {
	display: flex;
	width: 100%;
	height: 100px;
	justify-content: center;
	align-items: center;
	background-color: aqua;
	font-size: x-large;
}

#board {
	width: 100%;
	height: 100%;
	margin: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 40px;
}
#sketchboard{
	margin-right: 45px;
}
#footer {
	width: 100%;
	height: 70px;
	display: flex;
	font-size: 18px;
	font-weight: bold;
	align-items: center;
	justify-content: center;
	gap: 20px;
	background-color: rgb(114, 114, 212);
}
