* {
	padding: 0;
	margin: 0;
}

#main-container {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
}

#container {
	width: 80%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: lightblue;
}

#header {
	display: flex;
	width: 100%;
	height: 100px;
	justify-content: center;
	align-items: center;
	background-color: aqua;
	font-size: x-large;
}

#board {
	width: 100%;
	height: 100%;
	margin: 30px 35px;
	display: grid;
	grid-template-columns: 1fr 4fr;
	align-items: center;
	justify-content: space-evenly;
	gap: 40px;
}

ul {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	list-style: none;
}

ul li {
	padding: 5px;
}

#sketchboard {
	width: 66.67%;
	margin-right: 45px;
	display: flex;
	flex-flow: row wrap;
}

#sketchboard .sktBox {}





#listOfButton {
	width: 33.33%;
}

#footer {
	width: 100%;
	height: 70px;
	display: flex;
	font-size: 18px;
	font-weight: bold;
	align-items: center;
	justify-content: center;
	gap: 20px;
	background-color: rgb(114, 114, 212);
}